.searchForm{
    &__title {
        text-align: center;
        color: var(--main-text-light-color);
    }
    &__form{
        width: 100%;
        max-width: 550px;
        margin: 20px auto 0 auto;

    }
    &__sortBlock{
        margin-top: 16px;
        display: flex;
        gap: 16px;
        @media (max-width: 550px) {
            flex-wrap: wrap;
        }
    }
    &__item{
        display: grid;
        width: 100%;
        gap: 4px;
    }
    &__itemName{
        color: var(--main-text-light-color);
    }
}