.bookItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ececec;
    padding: 5px;
    border-radius: 10px;
    min-height: 330px;
    transition: transform .3s ease-in-out;

    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.05);
        }
    }

    &__skeleton {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #ececec;
        padding: 5px;
        border-radius: 10px;
        min-height: 330px;
    }

    &__mediaBlock {
        width: 130px;
        height: 186px;
        align-self: center;
        border: 1px solid var(--dark-grey-color);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 130px;
        height: 186px;
        object-fit: cover;
    }

    &__blankImage {
        width: 70px;
        height: 70px;
    }

    &__title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}